<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/Files/Logs" />
  <targets>
    <target name="csv" xsi:type="File" fileName="${logDirectory}/${shortdate}.csv">
      <layout xsi:type="CsvLayout" withHeader="true" delimiter="Comma">
        <column name="TimeStamp" layout="${shortdate} ${time}" />
        <column name="Level" layout="${level}" />
        <column name="Message" layout="${message}" />
      </layout>
    </target>
    <target name="console" type="ColoredConsole" layout="${date:format=MM-dd HH\:mm\:ss.ffff} ${message}" />
  </targets>
  <rules>
    <logger name="ApplicationLog" writeTo="csv" />
    <logger name="ApplicationLog" writeTo="console" />    
  </rules>
</nlog>
